body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 50px;
}

.name-color{
    color: #f49;
}
section{
    display: flex;
}

.width{
    width: 50%;
    padding-left: 5%;
}

.width img{
    width: 80%;
}
p{
    color: #696969;
}

.btn{
    text-decoration: none;
    background-image: linear-gradient(#f49, #f40);
    color: white;
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}